@charset "utf-8";

#blog-title {
    font-size: 37px;
    font-weight: bold;
    
    height: 19vh;
    
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

footer {
    margin-left: 15px;
    margin-top: 1vh;
    margin-bottom: 7vh;
}

hr {
    border: solid 1.8px black;
    width: 95%;

    margin-bottom: 1vh;
}

#header-hr {
    margin-top: 1vh;
}

#footer-hr {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.letter-container {
    margin-left: 25px;
    margin-right: 25px;
}

.letter-title {
    font-size: 30px;
}

.letter-body {
    font-size: 15px;
    color: gray;
}