@charset "utf-8";

.blog-header {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    /*border: yellowgreen solid 3px;*/
}

#blog-title {
    /*margin-top: 4.6vh;*/
    margin-left: 15px;
    margin-right: 15px;

    display: flex;
    align-items: center;

    font-size: 37px;
    font-weight: bold;
}

#blog-navigator {
    /*margin-bottom: 3.6vh;
    margin-top: 0.05vh;*/
    margin-left: 18px;
    margin-right: 18px;

    display: flex;
    align-items: center;
    
    font-weight: bold;
    font-size: 25px;
    color: lightslategray;
}

footer {
    /*border: indianred solid 3px;*/

    /*스크롤이 끝까지 되고 더 늘려 이름을 편하게 볼 수 있도록 해요*/
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 15px;
    margin-right: 15px;
    
    /*margin-top: 1vh;
    margin-bottom: 6vh;*/
    
    font-size: 16px;
}

hr {
    border: solid 1.5px black; /*1.8*/
    width: 95%;
    
    margin-top: 0;
    margin-bottom: 0;
    /*margin-bottom: 1vh;*/
    
}

.letter-container {
    margin-left: 21.5px; /*history: 25*/
    margin-right: 180px;
}

.letter-title {
    font-size: 30px;
}

.letter-body {
    font-size: 15px;
    color: gray;
}

code {
    padding: 1.305px;
    border-radius: 3px;
    background-color:rgb(237, 237, 235);
    color:dimgrey;
}