@charset "utf-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgb(248, 246, 243);
    
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;

    font-size: 100%;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:royalblue;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.blog-header {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#blog-title {
    margin-left: 15px;
    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 35px;
    font-weight: bold;
}

#blog-navigator {
    margin-left: 16px;
    margin-right: 16px;

    display: flex;
    align-items: center;
    
    font-weight: bold;
    font-size: 23.5px;
    color: lightslategray;
}

footer {
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 15px;
    
    font-size: 16px;
}

hr {
    border: solid 1.5px black; /*1.8*/
    background-color: black;
    border-radius: 2.5px;

    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-top: 0;
    margin-bottom: 0;
}

.letter-container {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 21.5px; /*history: 25*/ /*본문 margin-left*/
    margin-right: 21.5px;
    /*border: slateblue solid 3px;*/
}

.letter-title {
    /*border: green solid 3px;*/
    font-size: 30px;
}

.letter-date {
    /*border: red solid 3px;*/
    font-size: 16px;
    color: gray;

    margin-top: 0.5vh;
    margin-bottom: 3vh; /*history: 2.5vh*/
}

.letter-body {
    /*border: blue solid 3px;*/
    font-size: 17px;
    color: black;
}

code {
    padding: 1px;
    border-radius: 4px;
    background-color:rgb(237, 237, 235);
    color:dimgray;
}

.quotation {
    border-left: black solid 3px;
}

p {
    margin-top: 11px;
    margin-bottom: 11px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: "・";
    margin: 0;
    margin-left: 11.5px;
    margin-right: 11.5px;
    margin-top: 11px;
    margin-bottom: 11px;

}

h1 {
    margin-top: 40px;
    margin-bottom: 11px;

    font-size: 25px;
    font-weight: normal;
}

h2 {
    margin-top: 35px;
    margin-bottom: 11px;

    font-size: 21.5px;
    font-weight: normal;
}

h3 {
    margin-top: 30px;
    margin-bottom: 11px;

    font-size: 19px;
    font-weight: normal;
}

br {
    line-height:11px;
}

.bold {
    font-weight: 600;
}

pre {
    white-space: pre-line;

    padding: 20px;
    border-radius: 4px;
    background-color:rgb(237, 237, 235);

    color:dimgrey;
    font-family: courier, monospace;
    font-size: 16.5px;
    margin-top: 20px;
    margin-bottom: 20px;

    line-height: 30px;
}

.codepen {
    margin-top: 20px;
    margin-bottom: 20px;
}

.strikethrough {
    text-decoration: line-through;
}

.number-list {
    list-style: decimal;
    margin: 0;
    margin-top: 11px;
    margin-bottom: 11px;
}